html {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.footer {
  background-color: #ffffff;
  border-top: solid;
  display: flex;
  align-items: center;
  width: 100vw;
  justify-content: center;
  transition: all 0.5s;
}

.hide {
  /* transform: translateY(100%); */
  display: none;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.column > label {
  margin: .4em;
}

#setTexts input {
  margin: 1em 0;
  width: 3em;
}

.block {
  width: 6em;
  height: 6em;
  margin: .1em;
  border-color: black;
  border-width: 0.4em;
  border-style: solid;
  text-align: center;
  cursor: pointer;
}

.block span {
  font-size: 4.5em;
}

.active {
  border-color: orange;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
  align-content: flex-start;
  background-color: #ffffff;
  overflow: auto;
}